
@{
    ViewBag.Title = "NotFound";
}

<h2>Página não encontrada</h2>
<br />
<hgroup>
    <h1>Erro 404.</h1>
    <h2>A página que você está tentando acessar não foi encontrada</h2>
</hgroup>

<img src="~/Content/Image/img1.jpg" />

